.ThemeButtonComponent {
  position: relative;
  min-height: 30px;
  box-shadow: 0px 10px 10px -12px var(--primary-color-2);
}

.lightThemeButton {
  position: absolute;
  top: -20px;
  height: 40px;
  width: 40px;
}

.darkThemeButton {
  position: absolute;
  top: -20px;
  height: 40px;
  width: 40px;
}

.lightThemeButtonIcon {
  color: var(--primary-color-2);
  width: 20px;
  height: 20px;
}

.darkThemeButtonIcon {
  color: var(--primary-color-3);
  width: 20px;
  height: 20px;
}

.active {
  opacity: 0;
}
