.ThemeButtonComponent {
  position: relative;
  margin: 15px 0;
}

.lightThemeButton {
  position: absolute;
  top: -40px;
  height: 40px;
  width: 40px;
}

.darkThemeButton {
  position: absolute;
  top: -40px;
  height: 40px;
  width: 40px;
}

.lightThemeButtonIcon {
  color: var(--primary-color-2);
  width: 20px;
  height: 20px;
}

.darkThemeButtonIcon {
  color: var(--primary-color-3);
  width: 20px;
  height: 20px;
}

.active {
  opacity: 0;
}
