.taskList {
  margin-top: 10px;
}

.taskList:has(div)::before {
  content: '';
  box-shadow: 0 0 6px ;
  height: 0.5px;
  opacity: 0.5;
  background: var(--secondary-color-2);
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
