.TodoSectionComponent {
  position: relative;
  width: 600px;
  min-height: 50vh;
  height: fit-content;
  padding: var(--spacing-xl) var(--spacing-l) var(--spacing-xxl);
  background: var(--primary-color-1);
  margin: 5rem auto;
  box-shadow: var(--shadow-color-1);
  border-radius: 25px;
}
