@import './../../styles/style.scss';

.TodoSectionComponent {
  min-width: 600px;
  min-height: 50vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  height: fit-content;
  padding: var(--spacing-xl) var(--spacing-l) var(--spacing-xxl);
  background: var(--primary-color-1);
  box-shadow: var(--shadow-color-1);
}

.TodoSection::before {
  position: absolute;
  top: 0;
  margin-top: auto;
  width: 540px;
  content: '';
  background: var(--primary-color-3);
  height: 50px;
  clip-path: ellipse(42% 25% at 50% 1%);
}

.tasksContentContainer {
  overflow: auto;
  margin-bottom: 10px;
}

.tasksContentContainer::-webkit-scrollbar {
  width: 8px;
}

.tasksContentContainer::-webkit-scrollbar-track {
  background-color: var(--secondary-color-2);
  border-radius: 100vw;
}

.tasksContentContainer::-webkit-scrollbar-thumb {
  border: solid var(--secondary-color-2) 2px;
  background-color: var(--primary-color-2);
  border-radius: 100vw;
}

.mainAddToDoSection {
  padding-top: 10px;
  margin-top: auto;
}

@media screen and (max-width: $sm) {
  .TodoSectionComponent {
    min-width: 340px;
  }
  
  .tasksContentContainer::-webkit-scrollbar {
    display: none;
  }
  
  .mainAddToDoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 10px -12px var(--primary-color-2) ;

    input {
      min-height: 35px;
      min-width: 100%;
      margin: 4px;
    }

    > div {
      width: 100%;
      display: flex;
      gap: 15px;
      justify-content: space-between;
      margin: 4px 0;
    }

    button {
      width: 100%;
      margin: 0;
      min-height: 35px;
    }
  }
}
