:root {
  background-color: blue;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}
