.TaskItemComponent {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px;
}

.editButton {
  margin-left: auto;
  opacity: 0.5;
}

.editButton:hover {
  opacity: 1;
}

.editButtonActive {
  outline: 2px solid var(--secondary-color-2);
  opacity: 1;
}

.deleteButton {
  opacity: 0.5;
}

.deleteButton:hover {
  opacity: 1;
}

.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: var(--primary-color-1);
  color: var(--primary-color-3);
  border: none;
  outline: none;
  pointer-events: none;
}

.taskInput {
  padding: 0 5px;
  margin-left: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
}

.taskEditable {
  background: var(--primary-color-2);
  outline: solid 1px var(--primary-color-3);
  border-radius: 8px;
}

.taskChecked {
  text-decoration: line-through;
  opacity: 0.5;
}
