.CheckboxComponent {
  position: relative;
  display: flex;
  align-items: center;
}

.checkboxLabelWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.taskItemCheckbox:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid var(--secondary-color-2);
  z-index: 2;
}

.checkmark:hover {
  border: 2px solid var(--secondary-color-1);
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkmark {
  background: var(--primary-color-2);
  background-image: url("../../assets/checkIcon.svg");
  background-size: cover;
}

input[type="checkbox"]:checked + .checkmark:hover {
  border: 2px solid var(--primary-color-3);
}
