@import './../../styles/style.scss';

.AddToDoSection {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 14px;

  button {
    width: 140px;
    padding: 6px 10px;
    border: none;
    color: var(--secondary-color-3);
    background-color: var(--primary-color-2);
    outline: none;
    margin: 0 8px;
  }

  input {
    padding: 0 8px;
    border-radius: 8px;
    border: 1px solid var(--primary-color-2);
    outline: none;
    color: var(--primary-color-3);
    background-color: var(--primary-color-2);
  }

  input::placeholder {
    color: var(--primary-color-3);
  }
}

@media screen and (max-width: $sm) {
  .AddToDoSection {
    font-size: 12px;

    input {
      max-width: 120px;
      margin-right: 6px;
      padding: 0 6px;
    }

    button {
      min-width: 120px;
      padding: 6px;
      margin: 0 2px;
    }
  }

  input::placeholder {
    font-size: 12px;
  }
}
