.IconButtonComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin: 0 2px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  outline: none;
}

.IconButtonComponent:focus {
  outline: none;
}
