.taskGroupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 5px 0;
}

.groupInput {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  cursor: auto;
}

.editButton {
  margin-right: 0;
  opacity: 0.5;
}

.editButton:hover {
  opacity: 1;
  transition: 0.5s;
}

.editButtonActive {
  outline: 2px solid var(--secondary-color-2);
  opacity: 1;
}

.deleteButton {
  opacity: 0.5;
  transition: 0.5s;
}

.deleteButton:hover {
  opacity: 1;
}

.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: var(--primary-color-1);
  color: var(--primary-color-3);
  border: none;
  outline: none;
  pointer-events: none;
}

.groupEditable {
  background: var(--primary-color-1);
  outline: solid 1px var(--primary-color-3);
  border-radius: 8px;
}

.taskListSection {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.5s;
}

.taskListSection > div {
  overflow: hidden;
}

.taskListSection.hidden {
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
}

.accordionIcon.hidden {
  transform: rotate(0deg);
}

.accordionIcon {
  transform: rotate(180deg);
  opacity: 0.5;
  transition: 0.5s;
}

.accordionIcon:hover {
  opacity: 1;
}

.taskList {
  max-height: 170px;
  overflow-y: auto;
}
